{{#if isSecondary}}
  <ul class='flex flex-wrap justify-center'>
    {{#foreach navigation}}
      <li class='mx-3 list-none'>
        <a
          href='{{url absolute='true'}}'
          class='inline-block text-base text-gray-900 hover:text-gray-700 dark:text-gray-200'
        >
          {{slug}}
        </a>
      </li>
    {{/foreach}}
  </ul>
{{else}}
  <ul class='flex flex-col lg:flex-row items-center justify-center'>
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
      <li class='mb-6 lg:mb-0 lg:mr-6'>
        <a
          href='{{url absolute='true'}}'
          class='inline-block text-xl font-bold text-gray-900 dark:text-slate-200 hover:text-gray-700'
        >
          {{label}}
        </a>
      </li>
    {{/foreach}}
    <!-- End the loop -->
  </ul>
{{/if}}