{{!< default}}

{{!-- hero section --}}
<div class="container mx-auto {{#match @custom.header_style "Hidden"}}hidden{{/match}}">
    <div class="mb-8 p-8 rounded-3xl bg-gray-100 dark:bg-slate-800">
        <div class="flex flex-wrap {{#if @site.cover_image}}sm:flex-row-reverse lg:items-center{{/if}} -m-8">
            <div class="w-full {{#if @site.cover_image}}md:w-1/2{{/if}} p-8">
                <div class="md:max-w-lg mx-auto text-center">
                    {{#if @site.logo}}
                        <img class="w-32 mx-auto mb-4 {{#match @custom.header_style "Without logo"}}hidden{{/match}} " src="{{@site.logo}}" alt="{{@site.title}}">
                    {{/if}}
                    {{#if @site.title}}
                        <h1 class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-slate-800 dark:text-slate-300 font-black tracking-tight {{#match @custom.title_font "Nunito"}} font-nunito {{/match}}">{{@site.title}}</h1>
                    {{/if}}
                    {{#if @site.description}}
                        <p class="md:max-w-md mx-auto text-slate-500 font-bold">{{@site.description}}</p>
                    {{/if}}
                </div>
            </div>
            {{#if @site.cover_image}}
            <div class="w-full md:w-1/2 p-8">
                <div class="max-w-max mx-auto md:mr-0 overflow-hidden rounded-3xl">
                    <img class="mx-auto"
                        srcset="{{img_url @site.cover_image size="s"}} 300w,
                                {{img_url @site.cover_image size="m"}} 600w,
                                {{img_url @site.cover_image size="l"}} 1000w,
                                {{img_url @site.cover_image size="xl"}} 2000w"
                        sizes="100vw"
                        src="{{img_url @site.cover_image size="xl"}}"
                        alt="{{@site.title}}"
                    />
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
    
{{!-- The main content area --}}
<main id="site-main" class="container mx-auto">
        <div class="py-16 px-8 bg-slate-100  dark:bg-slate-800 rounded-3xl">
            <div class="max-w-7xl mx-auto">
                {{!-- intro --}}
                <div class="mb-12 md:max-w-4xl mx-auto text-center"><span class="inline-block mb-4 text-sm font-bold uppercase tracking-widest" style='color:{{@site.accent_color}};'>Blog</span>
                <h2 class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-slate-800 dark:text-slate-300 font-black tracking-tight">Resources and stories center</h2>
                {{!-- <p class="md:max-w-md mx-auto text-gray-500 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.</p> --}}
                </div>
                
                {{!-- featured post --}}
                {{#get "posts" filter="featured:true" include="tags" limit="1" order="published_at desc" as |posts|}}
                    {{#foreach posts}}
                        {{> "post-featured"}}
                    {{/foreach}}
                {{/get}}

                {{!-- posts --}}
                <div class="flex flex-wrap -m-4 mb-6 post-feed">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>

                {{!-- {{pagination}} --}}
            </div>
        </div>
        {{!-- newsletter --}}
        {{> "newsletter"}}
</main>
