{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- hero section --}}
<div class="container mx-auto">
    <div class="mb-8 p-8 rounded-3xl bg-gray-100">
      <div class="flex flex-wrap sm:flex-row-reverse lg:items-center -m-8">
        <div class="w-full md:w-1/2 p-8">
          <div class="md:max-w-lg mx-auto text-center">
            {{#if @site.logo}}
                <img class="w-32 mx-auto mb-6" src="{{@site.logo}}" alt="{{@site.title}}">
            {{/if}}
            {{#if @site.title}}
                <h1 class="font-heading mb-4 text-5xl text-gray-900 font-black tracking-tight">{{@site.title}}</h1>
            {{/if}}
            {{#if @site.description}}
                <p class="mb-6 text-xl font-bold">{{@site.description}}</p>
            {{/if}}
          </div>
        </div>
        <div class="w-full md:w-1/2 p-8">
          <div class="max-w-max mx-auto md:mr-0 overflow-hidden rounded-3xl">
            {{#if @custom.show_publication_cover}}
                {{#if @site.cover_image}}
                    <img class="mx-auto"
                        srcset="{{img_url @site.cover_image size="s"}} 300w,
                                {{img_url @site.cover_image size="m"}} 600w,
                                {{img_url @site.cover_image size="l"}} 1000w,
                                {{img_url @site.cover_image size="xl"}} 2000w"
                        sizes="100vw"
                        src="{{img_url @site.cover_image size="xl"}}"
                        alt="{{@site.title}}"
                    />
                {{/if}}
            {{/if}}
        </div>
      </div>
    </div>
</div>
    
{{!-- The main content area --}}
<main id="site-main" class="container mx-auto">
        <div class="py-16 px-8 bg-gray-100 rounded-3xl">
            <div class="max-w-7xl mx-auto">
                {{!-- intro --}}
                <div class="mb-12 md:max-w-4xl mx-auto text-center"><span class="inline-block mb-4 text-sm text-blue-500 font-bold uppercase tracking-widest">Blog</span>
                <h2 class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-gray-900 font-black tracking-tight">Resources and stories center</h2>
                <p class="md:max-w-md mx-auto text-gray-500 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.</p>
                </div>
                
                {{!-- featured post --}}
                {{#get "posts" filter="featured:true" include="tags" limit="1" order="published_at desc" as |posts|}}
                    {{#foreach posts}}
                        {{> "post-featured"}}
                    {{/foreach}}
                {{/get}}

                {{!-- posts --}}
                <div class="flex flex-wrap -m-4 mb-6">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>

                {{!-- {{pagination}} --}}

                {{!-- button suite --}}
                <div class="flex flex-wrap md:justify-center -m-2">
                <div class="w-full md:w-auto p-2"><a class="block w-full px-12 py-3.5 text-lg text-center text-white font-bold bg-gray-900 hover:bg-gray-800 focus:ring-4 focus:ring-gray-600 rounded-full" href="#">Read more News</a></div>
                </div>
            </div>
        </div>
        {{!-- newsletter --}}
        {{> "newsletter"}}
</main>
