{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}
<article class="w-full ">   
    <div class=" h-full bg-white rounded-3xl">
        <img class="w-full object-cover rounded-t-3xl"
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 400px, 800px"
            src="{{img_url feature_image size="m"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            loading="lazy"
        />
        <div class="p-8">
            <section class="m-auto w-1/2">
            {{#primary_tag}}
                <span class="text-lg font-bold" style="color:{{@site.accent_color}};">{{name}}</span>
            {{/primary_tag}}
            <h1 class="font-heading py-6 lg:text-6xl text-gray-900 hover:text-gray-700 font-black">
                {{#unless access}}
                    {{^has visibility="public"}}
                        {{#unless feature_image}}
                            {{> "icons/lock"}}
                        {{/unless}}
                    {{/has}}
                {{/unless}}
            {{title}}
            </h1>

            <div class="gh-content gh-canvas">
                {{content}}
            </div>
                
            </section>
        </div>
    </div>
</article>
    


{{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
{{> "newsletter"}}


{{!-- Read more links, just above the footer --}}
{{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
    {{#get "posts" filter="id:-{{id}}" limit="3" as |more_posts|}}

        {{#if more_posts}}
            <div class="flex flex-wrap -m-4 mb-6 post-feed">
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        {{/if}}

    {{/get}}
{{/if}}

{{/post}}